/* ======  CHAPTER  ====== */

/* 1. Body */
/* 2. Header */
/* 3. Image */
/* 4. Navigation */
/* 5. Group */

/* === Body === */

body {
    background-color: orangered;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* === Header === */

h1 {
    text-decoration: none;
    color: beige;
    text-align: center
}

h2 {
    text-align: center;
    text-decoration: none;
    color: beige;
}

/* === Image === */

iframe {
    float: left;
    width: 100%;
    margin-left: 0%;
    display: flex;
}

img {
    border-top: 20px solid orangered;
    border-bottom: 50px solid orangered;
    width: 100%;
    height: 100%;
}

/* === Navigation === */

nav ul {
    list-style: none;
    background-color: indianred;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 50px solid orangered;
}

nav li {
    font-size: 1.5rem;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 0.7%;
}

nav a {
    text-decoration: none;
    color: beige;
    display: block;
}

nav a:hover {
    background-color: beige;
    color: #4a4a4f;
}

/* === Group === */

@media screen and (min-width:600px) {
.game {
    margin: auto;
    display: flex;
    width: 60%;
}
}

.itext {
    text-decoration: none;
    color: beige;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-bottom: 20px;
    border: 1rem;
    border-bottom: 100px solid orangered;
    background-color: indianred;
}