/* ======  CHAPTER  ====== */

/* 1. Body */
/* 2. Header */
/* 3. Image */
/* 4. Navigation */
/* 5. Group */

/* === Body === */

body {
    background-color: indigo;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* === Header === */

h1 {
    text-decoration: none;
    color: lavender;
    text-align: center
}

h2 {
    text-align: center;
    text-decoration: none;
    color: lavender;
}

h4 {
    text-decoration: none;
    color: lavender;
    margin-left: 5%;
    padding-top: 2%;
}

/* === Image === */

img {
    width: 100%;
    height: 100%;
}

/* === Navigation === */

nav ul {
    list-style: none;
    background-color: cadetblue;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 50px solid indigo;
}

nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 0.7%;
}

nav a {
    text-decoration: none;
    color: lavender;
    display: block;
}

nav a:hover {
    color: #4a4a4f;
    background-color: lavender
}

/* === Group === */

.game {
    margin-left: 15%;
    margin-right: 15%;
}

.main {
    
    color: lavender;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 100px solid indigo;
    background-color: cadetblue;
}

.intro {
    text-decoration: none;
    color: lavender;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    border-bottom: 1px solid cadetblue;
}

