/* ======  CHAPTER  ====== */

/* 1. Body */
/* 2. Header */
/* 3. Image */
/* 4. Navigation */
/* 5. Group */

/* === Body === */

body {
    background-color: saddlebrown;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* === Header === */

h1 {
    text-decoration: none;
    color: beige;
    text-align: center
}

h2 {
    text-align: center;
    text-decoration: none;
    color: beige;
}

/* === Image === */

iframe {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
}

img {
    
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    
    border-top: 20px solid saddlebrown;
}

/* === Navigation === */

nav ul {
    list-style: none;
    background-color: rgba(6, 65, 6, 0.671);
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 50px solid saddlebrown;
}

nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 0.7%;
}

nav a {
    text-decoration: none;
    color: beige;
    display: block;
}

nav a:hover {
    background-color: beige;
    color: #4a4a4f;
}

/* === Group === */

@media screen and (min-width:600px) {
.game {
    margin: auto;
    display: flex;
    width: 60%;
}
}

.ttext {
    text-decoration: none;
    color: beige;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-bottom: 20px;
    border: 1rem;
    border-top: 50px solid saddlebrown;
    border-bottom: 100px solid saddlebrown;
    background-color: rgba(6, 65, 6, 0.671);
    }